html, body { height: 100%; }
body { margin: 0; font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial; background: #f6f7fb; }

.topbar {
  background: #111827;
  color: #fff;
  padding: 10px 16px;
  box-shadow: 0 2px 8px rgba(0,0,0,.1);
}

#map {
  height: calc(100% - 56px); /* ocupa el resto de la pantalla bajo el header */
  width: 100%;
}
